A { color:#04c; text-decoration:none; }
A:hover { color: #60a; }

.acqTab TD:nth-child(1) { text-align:right; }
.acqTab TD:nth-child(2) { text-align:right; }
.acqTab TD:nth-child(3) { text-align:right; }
.acqTab TD:nth-child(4) { text-align:right; }

.avail { color:#a00; font-weight:bold; } 

.canZ1 { position:absolute; top:0; left:0; z-index:1; }

.colorTab > THEAD { background-color:#9ff4; font-weight:bold; }
.colorTab > TFOOT { background-color:#9ff4; }
.colorTab > TBODY :nth-child(odd) { background-color:#afc2; }
.colorTab > TBODY :nth-child(even) { background-color:#cfc2; }
.colorTab TR :nth-child(odd) { background-color:#ccc2; } 
.colorTab TR :nth-child(even) { background-color:#aaa2; } 
.colorTab TR TD._anchorCol { background-color: #4442; }
.colorTab TR.pend { background-color:#ff08; }
.colorTab .err { background-color: #f888; }
.colorTab TD:nth-child(n+2) { text-align:right; }


.displayBlock { display:block; }
.displayNone { display:none; }

.drawBody { /*margin:2px;*/ padding:0 2px; }

.drawrV { display:block flex; flex-flow:row wrap; }
.drawrStack { flex:0 0; position:relative; top:0; left:0; }
.drawrStack :nth-child(n+2) { position:absolute; top:0; left:0; }

.log { margin-top:1em; white-space:pre; font-family:monospace; }

.leftoverTab TD:nth-child(1) { text-align:right; }
.leftoverTab TD:nth-child(2) { text-align:right; }
.leftoverTab TD:nth-child(3) { text-align:right; }
.leftoverTab TD:nth-child(4) { text-align:right; }

.marginL { margin-left:10px; }
.marginR { margin-right:10px; }

.menu {
    background-color:white;
    border:1px solid black;
    padding: 3px;
    visibility:hidden;
    position:absolute;
    left:0px;
    top:0px;
}
.menuHeadA { display:block; color:#606; border-bottom:1px solid black; margin-bottom:4px; }

.menuA { display:block; }

.note {}
.noteA { display:block; }

.para { margin-top:1em; }

.textAlignRight { text-align:right; }

/*.uiSys { margin:2px; }*/

.status { font-family:monospace; }

.topbar { border-top:5px solid black; }

/*---------------------------------------------------------------------------------------------------------------------*/

.tododoc, .todonote {
    margin-left:0.5ch;
    padding:1px;
    background-color: #dd03;
    font-weight:bold;
    font-variant:small-caps;
    text-decoration:none;
    box-shadow: 1px 1px 2px 1px #0998; 
}

