A { color:#04c; text-decoration:none; }
A:hover { color: #60a; }

.acqTab TD:nth-child(1) { text-align:right; }
.acqTab TD:nth-child(2) { text-align:right; }
.acqTab TD:nth-child(3) { text-align:right; }
.acqTab TD:nth-child(4) { text-align:right; }

.avail { color:#a00; font-weight:bold; } 

.canZ1 { position:absolute; top:0; left:0; z-index:1; }

.colorThead TD { font-weight:bold; }
.colorThead TD:nth-child(odd) { background-color:#cff4; }
.colorThead TD:nth-child(even) { background-color:#9ff4; }
.colorTbody TD:nth-child(odd) { background-color:#cfc2; }
.colorTbody TD:nth-child(even) { background-color:#afa2; }
.colorTbody TR:nth-child(odd) { background-color:#caf2; }
.colorTbody TR:nth-child(even) { background-color:#9af2; }
.colorTfoot TD:nth-child(odd) { background-color:#cff4; }
.colorTfoot TD:nth-child(even) { background-color:#9ff4; }

.displayBlock { display:block; }
.displayNone { display:none; }

.drawBody { margin:2px; padding:0; }

.err { background-color: #f888; }

.log { margin-top:1em; white-space:pre; font-family:monospace; }

.leftoverTab TD:nth-child(1) { text-align:right; }
.leftoverTab TD:nth-child(2) { text-align:right; }
.leftoverTab TD:nth-child(3) { text-align:right; }
.leftoverTab TD:nth-child(4) { text-align:right; }

.marginL { margin-left:10px; }
.marginR { margin-right:10px; }

.menu {
    background-color:white;
    border:1px solid black;
    padding: 3px;
    visibility:hidden;
    position:absolute;
    left:0px;
    top:0px;
}
.menuHeadA { display:block; color:#606; border-bottom:1px solid black; margin-bottom:4px; }

.menuA { display:block; }

.note {}
.noteA { display:block; }

.panelTab TD:nth-child(3) { text-align:right; }
.panelTab TD:nth-child(4) { text-align:right; }
.panelTab TD:nth-child(5) { text-align:right; }
.panelTab TD:nth-child(6) { text-align:right; }

.para { margin-top:1em; }

.pend { background-color:#ff08; }

.rel0 { position:relative; top:0; left:0; }

.roofRow { display:block flex; flex-flow: row wrap; }
.roofRow > * { flex:0 0 auto; }

.row { display:block flex; flex-direction:row; }
.rowFlex0 { flex:0 0 auto; }
.rowFlex1 { flex:1 1 auto; }
.rowFlex1Pad { flex:1 1 auto; padding-left:2px; }

.textAlignRight { text-align:right; }

/*.uiSys { margin:2px; }*/

.status { font-family:monospace; }

.topbar { border-top:5px solid black; }

/*---------------------------------------------------------------------------------------------------------------------*/

.tododoc, .todonote {
    margin-left:0.5ch;
    padding:1px;
    background-color: #dd03;
    font-weight:bold;
    font-variant:small-caps;
    text-decoration:none;
    box-shadow: 1px 1px 2px 1px #0998; 
}

