BODY { margin:0; padding:0; } 

.acqTable TD:nth-child(1) { text-align:right; }
.acqTable TD:nth-child(2) { text-align:right; }
.acqTable TD:nth-child(3) { text-align:right; }
.acqTable TD:nth-child(4) { text-align:right; }

.colorTable THEAD TD { font-weight:bold; }
.colorTable TD:nth-child(odd) { background-color:#eef; }
.colorTable TD:nth-child(even) { background-color:#ddf; }

.displaynone { display:none; }

.doc, .note {
    margin-left:0.5ch;
    padding:1px;
    background-color: #dd03;
    font-weight:bold;
    font-variant:small-caps;
    text-decoration:none;
    box-shadow: 1px 1px 2px 1px #0998; 
}

.log { margin-top:1em; white-space:pre; font-family:monospace; }

.leftoversTable TD:nth-child(1) { text-align:right; }
.leftoversTable TD:nth-child(2) { text-align:right; }
.leftoversTable TD:nth-child(3) { text-align:right; }
.leftoversTable TD:nth-child(4) { text-align:right; }

.menu {
    background-color:white;
    border:1px solid black;
    padding: 3px;
    visibility:hidden;
    position:absolute;
    left:0px;
    top:0px;
}

.panelTable TD:nth-child(3) { text-align:right; }
.panelTable TD:nth-child(4) { text-align:right; }
.panelTable TD:nth-child(5) { text-align:right; }
.panelTable TD:nth-child(6) { text-align:right; }

.para { margin-top:1em; }

.partTab TD:nth-child(4) { text-align:right; }
.partTab TD:nth-child(5) { text-align:right; }
.partTab TD:nth-child(6) { text-align:right; }
.partTab TD:nth-child(7) { text-align:right; }
.partTab TD:nth-child(8) { text-align:right; }
.partTab TD:nth-child(9) { text-align:right; }
.partTab TD:nth-child(10) { text-align:right; }

.pend TD:nth-child(odd) { background-color:#ff0; }
.pend TD:nth-child(even) { background-color:#ee0; }

.roofRow { display:block flex; flex-flow: row wrap; }
.roofRow > * { flex:0 0 auto; }

.row { display:block flex; flex-direction:row; }
.rowFlex0 { flex:0 0 auto; }
.rowFlex1 { flex:1 1 auto; }
.rowFlex1Pad { flex:1 1 auto; padding-left:2px; }

.uiSys { margin:2px; }

.status { font-family:monospace; }

.topbar { border-top:5px solid black; }
